<!DOCTYPE html>
<html 
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate = "~{layout}">
<body>
    <div layout:fragment = "body" class="container mt-5">
        <div class="row mb-5">
            <h1 class="text-center group-header">List of Groups</h1>
        </div>
        <div class="row justify-content-end">
            <div class="col-6">
                <form class="d-flex" role="search" th:action="@{/search}">
                    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <h1 class="text-center mt-5 group-header">Group Created</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
            <th:block th:each="group: ${own_group}">
                <div class="col">
                    <div class="card border-dark">
                        <a th:href = "@{/task/{userId}(userId = ${group.id})}" class="text-decoration-none text-dark">
                            <div class="card-body">
                                <h5 class="card-title" th:text = "${group.name}"></h5>
                                <p class="card-text" th:text = "${group.description}"></p>
                            </div>
                        </a>
                        <div class="card-footer bg-dark d-flex justify-content-end">
                        <th:block th:if="${users.id} == ${group.admin.id}">
                            <a class="btn" 
                                type="button" 
                                th:href="@{/group/edit/{userId}(userId=${group.id})}"
                                title="Edit Group">
                                <i class="bi bi-pencil-fill text-warning h3"></i>
                            </a>
                            <a class="btn" 
                                th:href = "@{/group/delete/{userId}(userId = ${group.id})}"
                                type="button" title="Delete Group">
                                <i class="bi bi-x-circle text-danger h3"></i>
                            </a>
                        </th:block>
                            <a class="btn" 
                                th:href = "@{/task/{userId}(userId = ${group.id})}"
                                type="button" title="Visit Group">
                                <i class="bi bi-box-arrow-in-right text-info h3 align-middle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
            <div class="col align-self-center">
                <div class="card border-success">
                    <a type="button" class="text-decoration-none text-dark" th:href = "@{/insert}">
                        <div class="card-body text-center">
                                <p class="m-0">Insert <i class="bi bi-plus-circle"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h1 class="text-center mt-5 group-header">Group Involved</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
            <th:block th:each="group: ${involve_group}">
                <div class="col">
                    <div class="card border-dark">
                        <a th:href = "@{/task/{userId}(userId = ${group.id})}" class="text-decoration-none text-dark">
                            <div class="card-body">
                                <h5 class="card-title" th:text = "${group.name}"></h5>
                                <p class="card-text" th:text = "${group.description}"></p>
                            </div>
                        </a>
                        <div class="card-footer bg-dark d-flex justify-content-end">
                            <a class="btn" 
                                th:href = "@{/task/{userId}(userId = ${group.id})}"
                                type="button" title="Visit Group">
                                <i class="bi bi-box-arrow-in-right text-info h3 align-middle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${involve_group}">
                <div class="col">
                    <div class="card border-dark">
                        <div class="card-body text-center">
                            No group involved
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>  
</body>
</html>