*{
    margin: 0;
    padding: 0;
}

.breadcrumb-item+.breadcrumb-item::before{
    padding: .35em .5em;
}

table tbody tr td.data{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}