<form method="post" role="form" th:action = "@{/insert}" th:object = "${users}">
    <input type="hidden" id="id" name="id" field="*{id}" />
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name = "username" field="*{username}" required/>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name = "email" field="*{email}" required/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name = "password" field="*{password}" required/>
    </div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<button type="submit" class="btn btn-success"></button>
</div>
</form>