<!DOCTYPE html>
<html 
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate = "~{layout}">
<body>
    <div layout:fragment = "body" class="container mt-5">
        <div class="row" th:replace = "~{register-form :: div.create_btn}">
           
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Created On</th>
                            <th>Updated On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${users}">
                            <th scope = "row" th:text = "${user.id}"></th>
                            <td th:text = "${user.username}"></td>
                            <td th:text = "${user.email}"></td>
                            <td th:text = "${user.createdOn}"></td>
                            <td th:text = "${user.updatedOn}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>