<!DOCTYPE html>
<html 
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate = "~{layout}">
<body>
    <div layout:fragment = "body" class="container mt-5">
        <div class="row" th:replace = "~{register-form :: div.create_btn}">
           
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-dark table-borderless caption-top rounded overflow-hidden">
                <caption>List of users</caption>
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Created On</th>
                            <th>Updated On</th>
                            <th>Actions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${users}" class="align-middle">
                            <th scope = "row" th:text = "${user.id}" class="data"></th>
                            <td class="data" th:text = "${user.username}"></td>
                            <td class="data" th:text = "${user.email}"></td>
                            <td class="data" th:text = "${user.createdOn}"></td>
                            <td class="data" th:text = "${user.updatedOn}"></td>
                            <td>
                                <a class="btn edit" 
                                th:data-id = "${user.id}"
                                th:data-name = "${user.username}"
                                th:data-email = "${user.email}"
                                data-bs-toggle="modal" 
                                data-bs-target="#Modal"
                                type="button">
                                    <i class="bi bi-pencil-fill text-warning h3"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn delete" 
                                th:data-id = "${user.id}"
                                type="button">
                                    <i class="bi bi-x-circle text-danger h3"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
            </div>
            </div>
        </div>
        </div>
    </div>
    
</body>
</html>