<!DOCTYPE html>
<html 
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate = "~{layout}">
<body>
    <div layout:fragment = "body" class="container mt-5">
        <div class="row mb-5">
        </div>
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-success" th:href = "@{/insert}">
                    Insert <i class="bi bi-plus-circle"></i>
                </a>
            </div>
            <div class="col">
                <form class="d-flex" role="search" th:action="@{/search}">
                    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-dark table-borderless caption-top rounded overflow-hidden">
                <caption>List of users</caption>
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Created On</th>
                            <th>Updated On</th>
                            <th>Actions</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${users}" class="align-middle">
                            <th scope = "row" th:text = "${user.id}" class="data"></th>
                            <td class="data" th:text = "${user.name}"></td>
                            <td class="data" th:text = "${user.address}"></td>
                            <td class="data" th:text = "${user.createdOn}"></td>
                            <td class="data" th:text = "${user.updatedOn}"></td>
                            <th:block th:if="${user_entity.id} == ${user.created_by.id}">
                                <td>
                                    <a class="btn" type="button" th:href="@{/user/edit/{userId}(userId=${user.id})}">
                                        <i class="bi bi-pencil-fill text-warning h3"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn" 
                                    th:href = "@{/user/delete/{userId}(userId = ${user.id})}"
                                    type="button">
                                        <i class="bi bi-x-circle text-danger h3"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn" 
                                    th:href = "@{/task/{userId}(userId = ${user.id})}"
                                    type="button">
                                    <i class="bi bi-file-plus-fill text-info h3"></i>
                                    </a>
                                </td>
                            </th:block>
                            <th:block th:unless="${user_entity.id} == ${user.created_by.id}">
                                <td></td>
                                <td></td>
                                <td></td>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast" th:classappend="${name}? show" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger text-white">
            <strong class="me-auto">Notice</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">User "<span th:text ="${name}" class="inline"></span>" has been deleted.</div>
        </div>
    </div>
    
</body>
</html>