<!DOCTYPE html>
<html 
    lang="en"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate = "~{layout}">
<body>
    <div layout:fragment = "body" class="container mt-5">
        <div class="row">
            <th:block th:unless="${view_all}">
                <div class="col">
                    <a type="button" class="btn btn-success" th:href = "@{/detail/{userId}/new(userId=${userId})}">
                        Insert <i class="bi bi-plus-circle"></i>
                    </a>
                </div>
            </th:block>
            <div class= "col" th:classappend="${view_all}? 'd-flex justify-content-end':''">
                <form class="d-flex" role="search" th:classappend="${view_all}? 'col-6':''"  >
                    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <table class="table table-dark table-borderless caption-top rounded overflow-hidden">
                    <caption>List of tasks</caption>
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Created On</th>
                                <th>Updated On</th>
                                <th>Actions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${#lists.isEmpty(detail)}">
                                <tr class="align-middle"></tr>
                                    <td>No data</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </th:block>
                            <tr class="align-middle" th:each="task: ${detail}">
                                    <th scope = "row" th:text = "${task.id}" class="data"></th>
                                    <td class="data" th:text = "${task.title}"></td>
                                    <td class="data" th:text = "${task.description}"></td>
                                    <td class="data" th:text = "${status.get(task.type)}"></td>
                                    <td class="data" th:text = "${task.createdOn}"></td>
                                    <td class="data" th:text = "${task.updatedOn}"></td>
                                    <td class="data"><a type="button" class="btn btn-outline-warning"><i class="bi bi-pencil-fill"></i></a></td>
                                    <td class="data"><a type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle"></i></a></td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>